process {

  /*----------------------------------------------------* 
  *  plink is lightweight and one of the most popular
  *  tools in genomics. We'll use it to test singularity
  *-----------------------------------------------------*/

  withLabel: 'plink2' {
    container = "sickleinafrica/plink2:latest"
  }

  withLabel: 'gencall' {
    container = "sickleinafrica/gencall:latest"
  }

  withLabel: 'idat_to_gtc' {
    time  = { params.idat_max_time * task.attempt }
    memory  = { params.idat_max_memory * task.attempt }
    cpus  = { params.idat_threads * task.attempt }
  }

  withLabel: 'gtc_to_vcf' {
    time  = { params.gtc_max_time * task.attempt }
    memory  = { params.gtc_max_memory * task.attempt }
    cpus  = { params.gtc_threads * task.attempt }
  }

  errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
  maxRetries = 3

}
