executor {
    name = 'pbspro'
    queue = 'normal'
    queueSize = 10
}

singularity {
    enabled = true
    automounts = true
    cacheDir = '${HOME}/singularity'
}

params {
    containersDir = '/mnt/lustre/groups/CBBI1243/KEVIN/containers/'
    zscore = false		// If file containes zscore rather than beta and se, then there must be a header called 'zscore'
    ld_matrix = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/finemap/flt1/cm_tz_caapa_chr13_metaanalysis_for_finemappng.ld.gz'
    sum_stats = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/finemap/flt1/cm_tz_caapa_chr13_metaanalysis_for_finemappng.txt'
    output_dir = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/finemap/flt1/'
    in_sample_ref = false
    sample_size = 827
    max_causal_snps = 3
    out_prefix = 'cm_tz_caapa_chr13_metaanalysis_for_finemappng_3_causal'
    maf = 0.0005
    r2 = 0.60			// Minimum iputation accuray threshold
    r2_name = 'R2'		// Name of imputation accuracy parameter in VCF file INFO field 
}

process {

    //beforeScript = 'module load chpc/python/3.7.0'
    beforeScript = 'module load chpc/singularity/3.5.3'
 
    errorStrategy = { task.exitStatus in [38,135,255] ? 'retry' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3
 
    cpus = 24
    time = 3.h

    clusterOptions = "-P CBBI1243"

    withLabel:tinyMemory {
        cpus = 1
        time = { 5.m * task.attempt }
        memory = 2.GB
    }
    withLabel:smallMemory {
        cpus = 24
        time = { 15.m * task.attempt }
        memory = 15.GB
    }
    withLabel:bigMemory {
        time = 50.m
        cpus = 24
        memory = 50.GB
    }
    withLabel:longRun {
        time = 2.h
        cpus = 24
        memory = 100.GB
    }
    withLabel:mediumMemory {
        cpus = 24
        time = 10.m
        memory = 5.GB
    }
    withLabel:plink_assoc {
        cpus = 24
        time = 4.m
        memory = 10.GB
    }
    withLabel:saige_assoc {
        cpus = 24
        time = 5.h
        memory = 50.GB
    }
    withLabel:plink2 {
        container = "${params.containersDir}plink2_latest.sif"
    }
    withLabel:plink {
        container = "${params.containersDir}plink.sif"
    }
    withLabel:emmax {
        container = "${params.containersDir}emmax_latest.sif"
    }
    withLabel:r_base {
	container = "${params.containersDir}R.sif"
    }
    withLabel:gcta {
        container = "${params.containersDir}gcta_latest.sif"
    }   
    withLabel:bolt {
        container = "${params.containersDir}bolt_lmm.sif"
    }   
    withLabel:gemma {
        container = "${params.containersDir}gemma_latest.sif"
    }   
    withLabel:snptest {
        container = "${params.containersDir}snptest_latest.sif"
    }
    withLabel:saige {
        container = "${params.containersDir}saige.sif"
    }
    withLabel:bcftools {
        container = "${params.containersDir}bcftools_latest.sif"
    }
    withLabel:susie {
        container = "${params.containersDir}susie_finemap.sif"
    }
}

