executor {
    name = 'pbspro'
    queue = 'normal'
    queueSize = 10
}

singularity {
    enabled = true
    automounts = true
    cacheDir = '${HOME}/singularity'
}

params {
    // General settings
    file_type = 'VCF'
    containersDir = '/mnt/lustre/groups/CBBI1243/KEVIN/containers/'

    // BED input
    bed_dir = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/batchassoc/saige/cm/qt/input/imputed/'

    // VCF input
    vcf_dir = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/mergedBatches/imputed/kgp/cleanVcfs/'
    output_dir = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/batchassoc/saige/cm/vcf/output/'
    output_prefix = 'kgp'
    imputation_panel = 'kgp'
    vcf_field = 'DS'
    loco = 'FALSE'
    keep = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/mergedBatches/unimputed/saige/qt/high_quality_snps_for_nullglmm_bcf.ids'

    // General parameters
    maf = 0.01
    mac = 2
    is_imputed_data = 'TRUE'
    minInfo = 0.6
    condition = true
    condition_marker = "2:60725451:G:C"
    varianceRatioFile = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/mergedBatches/unimputed/saige/qt/saige.grm.varianceRatio.txt'
    nullGlmm = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/mergedBatches/unimputed/saige/qt/saige.grm.rda'
    sparseGrmFile = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/mergedBatches/unimputed/saige/qt/high_quality_snps_for_grm_relatednessCutoff_0.125_2000_randomMarkersUsed.sparseGRM.mtx'
    sparseGrmSampleFile = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/mergedBatches/unimputed/saige/qt/high_quality_snps_for_grm_relatednessCutoff_0.125_2000_randomMarkersUsed.sparseGRM.mtx.sampleIDs.txt'

}

process {

    //beforeScript = 'module load chpc/python/3.7.0'
    beforeScript = 'module load chpc/singularity/3.5.3'
 
    errorStrategy = { task.exitStatus in [38,135,255] ? 'retry' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3
 
    cpus = 24
    time = 3.h

    clusterOptions = "-P CBBI1243"

    withLabel:smallMemory {
        cpus = 24
        time = { 10.m * task.attempt }
        memory = 10.GB
    }
    withLabel:bigMemory {
        time = 50.m
        cpus = 24
        memory = 50.GB
    }
    withLabel:longRun {
        time = 2.h
        cpus = 24
        memory = 100.GB
    }
    withLabel:mediumMemory {
        cpus = 24
        time = 50.m
        memory = 5.GB
    }
    withLabel:plink_assoc {
        cpus = 24
        time = 4.m
        memory = 10.GB
    }
    withLabel:saige_assoc {
        cpus = 24
        time = 90.m
        memory = 30.GB
    }
    withLabel:plink2 {
        container = "${params.containersDir}plink2_latest.sif"
    }
    withLabel:plink {
        container = "${params.containersDir}plink.sif"
    }
    withLabel:emmax {
        container = "${params.containersDir}emmax_latest.sif"
    }
    withLabel:r_base {
	container = "${params.containersDir}R.sif"
    }
    withLabel:gcta {
        container = "${params.containersDir}gcta_latest.sif"
    }   
    withLabel:bolt {
        container = "${params.containersDir}bolt_lmm.sif"
    }   
    withLabel:gemma {
        container = "${params.containersDir}gemma_latest.sif"
    }   
    withLabel:snptest {
        container = "${params.containersDir}snptest_latest.sif"
    }
    withLabel:saige {
        container = "${params.containersDir}saige.sif"
    }
    withLabel:bcftools {
        container = "${params.containersDir}bcftools_latest.sif"
    }
}

