executor {
    name = 'slurm'
    queue = 'sadacc-short'
    queueSize = 25
}

singularity {
    enabled = true
    automounts = true
    cacheDir = '/scratch/eshkev001/containers/'
}

params {
    sample_list = '/scratch/eshkev001/projects/gwas/scd/fujr/imputed/tis/cam-scd-kd-pass-qc-sample.bcf.list.txt'
    vcf_dir = '/scratch/eshkev001/projects/gwas/scd/fujr/imputed/tis/vcf/'
    output_dir = '/scratch/eshkev001/projects/gwas/scd/fujr/imputed/tis/clean/'
    out_prefix = 'topmed'
    maf = 0.0000005
    max_af = 0.05
    r2 = 0.85			// Minimum iputation accuray threshold
    r2_name = 'R2'		// Name of imputation accuracy parameter in VCF file INFO field 
}

process {

    //beforeScript = 'module load chpc/python/3.7.0'
    //beforeScript = 'module load chpc/singularity/3.5.3'
 
    errorStrategy = { task.exitStatus in [38,135,255] ? 'retry' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3
 
    cpus = 10
    time = 3.h

    clusterOptions = { 
      "--account humgen \
      --partition sadacc-short \
      --nodes 1" 
    }

    withLabel:smallMemory {
        cpus = 11
        time = { 30.m * task.attempt }
        memory = 15.GB
    }
    withLabel:bigMemory {
        time = 50.m
        cpus = 11
        memory = 50.GB
    }
    withLabel:longRun {
        time = 2.h
        cpus = 11
        memory = 100.GB
    }
    withLabel:mediumMemory {
        cpus = 11
        time = 10.m
        memory = 5.GB
    }
    withLabel:plink_assoc {
        cpus = 44
        time = 4.m
        memory = 10.GB
    }
    withLabel:saige_assoc {
        cpus = 44
        time = 5.h
        memory = 50.GB
    }

    withLabel: 'plink' {
      container = "docker://sickleinafrica/plink:latest"
    }
  
    withLabel: 'king' {
      container = "docker://sickleinafrica/king:2.3.2"
    }
  
    withLabel: 'rbase' {
      container = "docker://sickleinafrica/rbase-rehh:latest"
    }

    withLabel:emmax {
        container = "docker://sickleinafrica/emmax:latest"
    }
    withLabel:bolt {
        container = "docker://sickleinafrica/bolt_lmm:v2.3.6"
    }   
    withLabel:gemma {
        container = "docker://sickleinafrica/gemma:latest"
    }   
    withLabel:snptest {
        container = "docker://sickleinafrica/snptest:latest"
    }
    withLabel:saige {
        container = "docker://wzhou88/saige:1.3.3"
    }
    withLabel:bcftools {
        container = "docker://sickleinafrica/bcftools:1.11"
    }
}

