process {
  beforeScript = 'ulimit -c unlimited; hostname; date; pwd'

  // ERROR HANDLING
  errorStrategy = { 
      task.exitStatus in [1,2,3,4,5,6,126,127,134,135,136,137,139,140,143,245,247,249,250,255] ? 'retry' : 'terminate' 
  }
  maxErrors = '-1'
  maxRetries = 20
  
  // RESOURCE MANAGEMENT //

  cpus = { params.threads }

  withLabel:smallMemory {
      cpus = 11
      time = 10.m
      memory = 2.GB
  }

  withLabel:mediumMemory {
      cpus = 22
      time = { 30.m * task.attempt }
      memory = 10.GB
  }

  withLabel:bigMemory {
      time = { 1.h * task.attempt }
      cpus = { params.threads }
      memory = 90.GB
  }

  withLabel:longRun {
      time = 10.h
      cpus = 24
      memory = 90.GB
  }

  withLabel: 'idat_to_gtc' {
    time  = { params.idat_max_time * task.attempt }
    memory  = { params.idat_max_memory * task.attempt }
    cpus  = { params.idat_threads * task.attempt }
  }

  withLabel: 'gtc_to_vcf' {
    time  = { params.gtc_max_time * task.attempt }
    memory  = { params.gtc_max_memory * task.attempt }
    cpus  = { params.threads * task.attempt }
  }

  withLabel:plink_assoc {
      cpus = 24
      time = 4.m
      memory = 10.GB
  }

  withLabel:process_plink_assoc {
      cpus = 24
      time = 10.m
      memory = 10.GB
  }


}

