executor {
    name = 'pbspro'
    queue = 'serial'
    queueSize = 10
}

params {
    containersDir = '/mnt/lustre/groups/CBBI1243/KEVIN/containers/'
    inputDir = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/mergedBatches/unimputed/beagle/input/'
    outputDir = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/mergedBatches/unimputed/beagle/output/'
    bfile = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/mergedBatches/unimputed/cm_unimputed_clean_ref_fixed_sex_imputed_pheno_updated'
    maf = 0.01
    geno = 0.05
    hwe = 1e-50
    out = 'hbf'
    phenoName = 'PHE'
    nperms = 10000
}

process {
    //beforeScript = 'module load chpc/python/3.7.0'
    beforeScript = 'module load chpc/singularity/3.5.3'
    cpus = 1
    time = 3.h
    memory = 5.GB
    clusterOptions = '-P CBBI1243'

    withLabel:plink_mem {
        cpus = 24
        time = 20.m
        memory = 10.GB
    }
    withLabel:beagle_mem {
        cpus = 24
        time = 3.h
        memory = 20.GB
    }
    withLabel:small_mem {
        cpus = 1
        time = 10.m
        memory = 2.GB
    }

    withLabel:plink2 {
        container = "${params.containersDir}plink2_latest.sif"
    }
    withLabel:plink {
        container = "${params.containersDir}plink.sif"
    }
    withLabel:r_base {
        container = "${params.containersDir}R.sif"
    }
}

