executor {
    name = 'pbspro'
    queue = 'serial'
    queueSize = 10
}

singularity {
    enabled = true
    automounts = true
    cacheDir = '${HOME}/singularity'
}

params {
    containersDir = '/mnt/lustre/groups/CBBI1243/KEVIN/containers/'
    bedDir = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/mergedBatches/imputed/kgp/'
    outputDir = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/mergedBatches/imputed/kgp/plink/'
    bedPrefix = 'AW2018-2019.clean.pheno.updated'
    outputPrefix = 'AW2018-2019-normalized'

    /*---- BOLT-LMM PARAMS ----*/
    boltCovarFile = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/mergedBatches/imputed/topmed/bolt/AW2018-2019.clean.pheno.updated.cov'
    boltModelSnps = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/mergedBatches/imputed/topmed/prune.prune.in'
    geneticMap = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/BOLT-LMM_v2.3.6/tables/genetic_map_hg19_withX.txt.gz'

    /*---- PLINK PARAMS ----*/
    plinkCovarFile = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/mergedBatches/imputed/kgp/pca.cov'
    plinkCovarName = 'PC{1..10} AGE'

    /*---- SNPTEST PARAMS ----*/
    genDir = '/mnt/lustre/groups/CBBI1243/KEVIN/gwasdata/mergedBatches/unimputed/'
    genFile = 'AW2018-2019.clean.pheno.updated-oxf.gen.gz'
    sampleFile = 'AW2018-2019.clean.pheno.updated-oxf.cov.sample'
    snptestcovarFile = 'AW2018-2019.clean.pheno.updated-oxf.cov'
    method = 'score'
    phenoName = 'phenotype'
    snpTestCovarName = 'PC{1..10} sex AGE'
}

process {

    //beforeScript = 'module load chpc/python/3.7.0'
    beforeScript = 'module load chpc/singularity/3.5.3'
 
    errorStrategy = { task.exitStatus in [38,135,255] ? 'retry' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3
 
    cpus = 24
    time = 3.h
    //memory = 50.GB

    clusterOptions = '-P CBBI1243 -l select=1 -m b'

    withLabel:smallMemory {
        cpus = 24
        time = 5.m
        memory = 2.GB
    }
    withLabel:bigMemory {
        time = 50.m
        cpus = 24
        memory = 50.GB
    }
    withLabel:longRun {
        time = 2.h
        cpus = 24
        memory = 100.GB
    }
    withLabel:mediumMemory {
        cpus = 24
        time = 50.m
        memory = 5.GB
    }
    withLabel:plink_assoc {
        cpus = 24
        time = 4.m
        memory = 10.GB
    }
    withLabel:process_plink_assoc {
        cpus = 24
        time = 10.m
        memory = 10.GB
    }
    withLabel:plink2 {
        container = "${params.containersDir}plink2_latest.sif"
    }
    withLabel:plink {
        container = "${params.containersDir}plink.sif"
    }
    withLabel:emmax {
        container = "${params.containersDir}emmax_latest.sif"
    }
    withLabel:r_base {
	container = "${params.containersDir}R.sif"
    }
    withLabel:gcta {
        container = "${params.containersDir}gcta_latest.sif"
    }   
    withLabel:bolt {
        container = "${params.containersDir}bolt_lmm.sif"
    }   
    withLabel:gemma {
        container = "${params.containersDir}gemma_latest.sif"
    }   
    withLabel:snptest {
        container = "${params.containersDir}snptest_latest.sif"
    }

}

