executor {
  name = 'slurm'
  queueSize = 10  
}

params {
  autosome = true
  vcf = '/scratch/eshkev001/projects/gwas/scd/hg38/merge/imputeprep/camscd2018-2019-aligned.vcf.gz'
  ref_dir = '/scratch/eshkev001/imputationReference/hg19/kgp/'
  output_dir = '/scratch/eshkev001/projects/gwas/scd/analysis/cm/pca/'
  pop_file = '/scratch/eshkev001/projects/gwas/scd/analysis/cm/pop/cam.pop'
  pop_group = 'AFR' 	// isolate a coninental group for pca (enter 'NULL' to turn off)
  highlight_pop = 'CAM' 	// enter 'NULL' or leave empty if you don't wish to highlight any pop
  ascertain_pop = 'NULL' 	// population to ascertain SNPs in. Enter 'NULL' or leave empty to use all SNPs
  output_prefix = 'cam2018-scd-afr'
  kgp_pop = '/scratch/eshkev001/imputationReference/kgp.pop'
}


singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/scratch/eshkev001/containers/'
}

process {
  clusterOptions = { "--account humgen --partition sadacc-short" }

  errorStrategy = { task.exitStatus in [135,137,140,143,255] ? 'retry' : 'terminate' }
  maxRetries = 3
  maxErrors = '-1'

  cpus = 4
  time = 10.m
  memory = 2.GB

  withLabel: 'split_vcf' {
    cpus = 4
    time = 10.m
    memory = 2.GB
  }

  withLabel: 'intersect' {
    cpus = 4
    time = 30.m
    memory = 10.GB
  }

  withLabel: 'plink2' {
    container = "sickleinafrica/plink2:latest"
  }
  withLabel: 'plink' {
    container = "sickleinafrica/plink:latest"
  }
  withLabel: 'bcftools' {
    container = "sickleinafrica/bcftools:1.11"
  }
  withLabel: 'rbase' {
    container = "sickleinafrica/rbase-rehh:latest"
  }
  
}
