process {

  /*----------------------------------------------------* 
  *  plink is lightweight and one of the most popular
  *  tools in genomics. We'll use it to test singularity
  *-----------------------------------------------------*/

  withLabel: 'plink' {
    container = "docker://sickleinafrica/plink:latest"
  }

  withLabel: 'king' {
    container = "docker://sickleinafrica/king:2.3.2"
  }

  withLabel: 'gencall' {
    container = "docker://sickleinafrica/gencall:latest"
  }

  withLabel: 'rbase' {
    container = "docker://sickleinafrica/rbase-rehh:latest"
  }

  withLabel:emmax {
      container = "docker://sickleinafrica/emmax:latest"
  }

  withLabel:gcta {
      container = "docker://sickleinafrica/gcta:latest"
  }

  withLabel:bolt {
      container = "docker://sickleinafrica/bolt_lmm:v2.3.6"
  }

  withLabel:gemma {
      container = "docker://sickleinafrica/gemma:latest"
  }

  withLabel:snptest {
      container = "docker://sickleinafrica/snptest:latest"
  }

}
