process {

  /*----------------------------------------------------* 
  *  plink is lightweight and one of the most popular
  *  tools in genomics. We'll use it to test singularity
  *-----------------------------------------------------*/

  withLabel: 'plink' {
    container = "docker://sickleinafrica/plink:latest"
  }

  withLabel: 'king' {
    container = "docker://sickleinafrica/king:2.3.2"
  }

  withLabel: 'gencall' {
    container = "docker://sickleinafrica/gencall:latest"
  }

  withLabel: 'rbase' {
    container = "docker://sickleinafrica/rbase-rehh:latest"
  }

  withLabel: 'idat_to_gtc' {
    time  = { params.idat_max_time * task.attempt }
    memory  = { params.idat_max_memory * task.attempt }
    cpus  = { params.idat_threads * task.attempt }
  }

  withLabel: 'gtc_to_vcf' {
    time  = { params.gtc_max_time * task.attempt }
    memory  = { params.gtc_max_memory * task.attempt }
    cpus  = { params.threads * task.attempt }
  }

  errorStrategy = { task.exitStatus in [135,136,137,140,143,255] ? 'retry' : 'terminate' }
  maxRetries = 3
  maxErrors = '-1'

}
