params {

  // data-related parameters
  idat_dir         = "YOUR IDAT PARENT DIRECTORY"
  manifest_bpm     = "CHIP-SPECIFIC BPM MANISFEST"
  manifest_csv     = "CHIP-SPECIFIC CSV MANISFEST"
  cluster_file     = "YOUR CLUSTER FILE"
  fasta_ref        = 'HUMAN REFERENCE FASTA'
  bam_alignment    = 'BAM ALGINMENT FOR YOU REFERENCE IN hg38'
  output_prefix    = "YOUR OUTPUT FILE NAME PREFIX"
  output_dir       = "PATH WHERE YOUR OUTPUT IS STORED"


  // computing resource-related parameters
  account          = "humgen"                              
  partition        = "sadacc-short"                        
  njobs            = 2                                     
  containers_dir   = ""        
                                                           

  // IDAT to GTC: requires less resources
  idat_threads     = 2                                     
  idat_max_time    = 5.m                                   
  idat_max_memory  = 50.MB                                 


  // GTC to VCF: requires more resources
  gtc_threads      = 5                                     
  gtc_max_time     = 1.h                                   
  gtc_max_memory   = 1.GB                                  
}
