params {

	// data-related parameters

	idat_dir				= ""
	manifest_bpm			= ""
	manifest_csv			= ""
	cluster_file			= ""
	fasta_ref				= ""
	bam_alignment			= ""							// if processing in build 38 (hg38), provide a bam alignment file
	output_prefix			= ""
	output_dir				= "${projectDir}/output/"


	// computing resource-related parameters

	account					= ""							// if using SLURM or PBSPRO, provide your cluster project or account name
	queue					= ""							// if using SLURM or PBSPRO, specify the queue or partition name
	njobs					= 2								// number of jobs to submit at once each time
	containers_dir			= "${projectDir}/containers/"	// if using singularity containers, provide a path where the images will be stored. NB: The path should have sufficient storage capacity


	// IDAT to GTC: requires less resources
	idat_threads			= 4 							// number of cpus/threads per job
	idat_max_time			= 2.h 							// maximum time each job is allowed to run (h - hours; m - minutes)
	idat_max_memory			= 2.GB							// maximum memory each job is allowed to use (GB - gigabyte; MB - megabyte)


	// GTC to VCF: requires more resources
	gtc_threads				= 4 							// number of cpus/threads per job
	gtc_max_time			= 5.h 							// maximum time each job is allowed to run (h - hours; m - minutes)
	gtc_max_memory			= 3.GB							// maximum memory each job is allowed to use (GB - gigabyte; MB - megabyte)
}