params {

	// data-related parameters
	idat_dir				= "idat_dir"
	manifest_bpm			= "bpm"
	manifest_csv			= "csv"
	cluster_file			= "egt"
	fasta_ref 				= 'fasta'
	bam_alignment			= 'bam'							// if processing in build 38 (hg38), provide a bam alignment file
	output_prefix			= "myout"
	output_dir				= "${projectDir}/output/"


	// computing resource-related parameters
	account					= "humgen"							// if using SLURM or PBSPRO, provide your cluster project or account name
	partition				= "sadacc-short"				// if using SLURM or PBSPRO, specify the queue or partition name
	njobs					= 2								// number of jobs to submit at once each time
	containers_dir			= "${projectDir}/containers/test/"			// if using singularity containers, provide a path where the images will be stored. NB: The path should have sufficient storage capacity


	// IDAT to GTC: requires less resources
	idat_threads			= 2 							// number of cpus/threads per job
	idat_max_time			= 5.m 							// maximum time each job is allowed to run (h - hours; m - minutes)
	idat_max_memory			= 50.MB							// maximum memory each job is allowed to use (GB - gigabyte; MB - megabyte)


	// GTC to VCF: requires more resources
	gtc_threads				= 5 							// number of cpus/threads per job
	gtc_max_time			= 1.h 							// maximum time each job is allowed to run (h - hours; m - minutes)
	gtc_max_memory			= 1.GB							// maximum memory each job is allowed to use (GB - gigabyte; MB - megabyte)
}